# Data Wrangling & Munging in Python

## And, if you want to see how to clean data on Python effectively, then check out my equivalent video via Rstudio!

### I'll pretty much be following the same steps in my data wrangling process in Rstudio but in Python
Note that I do not include the various joining operations since that is a topic on its own...

![Data](Wrangle_Pic.png)
# Link: https://www.youtube.com/watch?v=iLI_ymRe0w0

# Datasets in use:
- Abalone dataset: http://archive.ics.uci.edu/ml/datasets/Abalone

In [1]:
# Loading in packages
import pandas as pd

In [2]:
# Loading in the data sets. (I've just loaded the datasets from R...)
abalone = pd.read_csv("abalone.csv")

In [3]:
# First things first, let's see if there are any NA's 
abalone.isnull().sum() # None.
# If there were columns that had null values, you can run the following function to return those row values:
# abalone[abalone[column_name].isnull()]

Unnamed: 0       0
Type             0
LongestShell     0
Diameter         0
Height           0
WholeWeight      0
ShuckedWeight    0
VisceraWeight    0
ShellWeight      0
Rings            0
dtype: int64

# One Hot Encode Process

In [4]:
abalone.head()

,Unnamed: 0,Type,LongestShell,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,1,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,2,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,3,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,4,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,5,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [5]:
# Let's remove that first column
abalone = abalone.iloc[: , 1:]
abalone.head()

,Type,LongestShell,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [6]:
pd.get_dummies(abalone['Type']) # Converted the First column, a categorical feature, to one hot encoded features.

      F  I  M
0     0  0  1
1     0  0  1
2     1  0  0
3     0  0  1
4     0  1  0
...  .. .. ..
4172  1  0  0
4173  0  0  1
4174  0  0  1
4175  1  0  0
4176  0  0  1

[4177 rows x 3 columns]

In [7]:
abalone_one_hot = pd.concat([pd.get_dummies(abalone['Type']), abalone.iloc[: , 1:]], axis=1)
abalone_one_hot.head()

,F,I,M,LongestShell,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,0,0,1,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,0,0,1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,1,0,0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,0,0,1,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,0,1,0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

# The str() & Summary() versions in Python

In [8]:
abalone_one_hot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   F              4177 non-null   uint8
 1   I              4177 non-null   uint8
 2   M              4177 non-null   uint8
 3   LongestShell   4177 non-null   float64
 4   Diameter       4177 non-null   float64
 5   Height         4177 non-null   float64
 6   WholeWeight    4177 non-null   float64
 7   ShuckedWeight  4177 non-null   float64
 8   VisceraWeight  4177 non-null   float64
 9   ShellWeight    4177 non-null   float64
 10  Rings          4177 non-null   int64
dtypes: float64(7), int64(1), uint8(3)
memory usage: 273.4 KB

In [9]:
abalone_one_hot.describe()

,F,I,M,LongestShell,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.312904,0.321283,0.365813,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.463731,0.467025,0.481715,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.000000,0.000000,0.000000,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.000000,0.000000,0.000000,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.000000,0.000000,0.000000,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,1.000000,1.000000,1.000000,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,1.000000,1.000000,1.000000,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [10]:
# Let's run through the apply functions really quick. Let's convert all the features to a character type.
'''
Difference between the applymap() and the apply() is that the applymap() is by element (in a df) whereas apply() 
works on row/columns (series and and dataframes) and map() works on element-wise on a series.
'''
# applymap is a function that runs a function through all the features that exist in the dataset.
aoh_string = abalone_one_hot.applymap(str) # str is a function; this can be changed i.e lamda x: x**2
#abalone_one_hot['F'].apply(int)
aoh_string.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   F              4177 non-null   object
 1   I              4177 non-null   object
 2   M              4177 non-null   object
 3   LongestShell   4177 non-null   object
 4   Diameter       4177 non-null   object
 5   Height         4177 non-null   object
 6   WholeWeight    4177 non-null   object
 7   ShuckedWeight  4177 non-null   object
 8   VisceraWeight  4177 non-null   object
 9   ShellWeight    4177 non-null   object
 10  Rings          4177 non-null   object
dtypes: object(11)
memory usage: 359.1+ KB

In [11]:
aoh_string.head()

,F,I,M,LongestShell,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,0,0,1,0.455,0.365,0.095,0.514,0.2245,0.101,0.15,15
1,0,0,1,0.35,0.265,0.09,0.2255,0.0995,0.0485,0.07,7
2,1,0,0,0.53,0.42,0.135,0.677,0.2565,0.1415,0.21,9
3,0,0,1,0.44,0.365,0.125,0.516,0.2155,0.114,0.155,10
4,0,1,0,0.33,0.255,0.08,0.205,0.0895,0.0395,0.055,7

# Filtering

In [12]:
# Let's get the observations whose longestShell > 0.3 and Diameters is < 0.3. How would we go about doing this?
abalone[(abalone['LongestShell'] > 0.3) & (abalone['Diameter'] < 0.3)]

,Type,LongestShell,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
16,I,0.355,0.280,0.085,0.2905,0.0950,0.0395,0.1150,7
18,M,0.365,0.295,0.080,0.2555,0.0970,0.0430,0.1000,7
20,M,0.355,0.280,0.095,0.2455,0.0955,0.0620,0.0750,11
...,...,...,...,...,...,...,...,...,...
4150,I,0.330,0.230,0.080,0.1400,0.0565,0.0365,0.0460,7
4151,I,0.350,0.250,0.075,0.1695,0.0835,0.0355,0.0410,6
4152,I,0.370,0.280,0.090,0.2180,0.0995,0.0545,0.0615,7
4162,M,0.385,0.255,0.100,0.3175,0.1370,0.0680,0.0920,8
4164,I,0.390,0.290,0.100,0.2845,0.1255,0.0635,0.0810,7

In [17]:
# How but if we only want Type M? ez.
#abalone[(abalone["Type"] == "M")]
#abalone['Type'].str.contains('MF') # Etc.. you can pinpoint what strings you want in your dataset (similar to grep)
#abalone[(abalone["Type"] == "M") & (abalone["Type"] == "F")] # And operator
#abalone[(abalone["Type"] == "M") | (abalone["Type"] == "F")] # Or operator
abalone[abalone["Type"] != "M"] # No M's?

,Type,LongestShell,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
5,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.1200,8
6,F,0.530,0.415,0.150,0.7775,0.2370,0.1415,0.3300,20
7,F,0.545,0.425,0.125,0.7680,0.2940,0.1495,0.2600,16
...,...,...,...,...,...,...,...,...,...
4165,I,0.405,0.300,0.085,0.3035,0.1500,0.0505,0.0880,7
4166,I,0.475,0.365,0.115,0.4990,0.2320,0.0885,0.1560,10
4168,F,0.515,0.400,0.125,0.6150,0.2865,0.1230,0.1765,8
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10

In [18]:
# We can also create a list of objects to see if the dataframe row values exist in the list!
list_to_compare = ["Male", "M"]
mask = abalone['Type'].isin(list_to_compare) # a boolean value
print(mask.head())
abalone[mask]

0     True
1     True
2    False
3     True
4    False
Name: Type, dtype: bool

,Type,LongestShell,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
8,M,0.475,0.370,0.125,0.5095,0.2165,0.1125,0.1650,9
11,M,0.430,0.350,0.110,0.4060,0.1675,0.0810,0.1350,10
...,...,...,...,...,...,...,...,...,...
4170,M,0.550,0.430,0.130,0.8395,0.3155,0.1955,0.2405,10
4171,M,0.560,0.430,0.155,0.8675,0.4000,0.1720,0.2290,8
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [21]:
# How but we group by gender and average the rest of the features to get some summary statistics?
# Grouping function....
abalone.groupby('Type').sum()
# You can also group by multiple categorical variables if you have multiple categorical features...

,LongestShell,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
Type,,,,,,,,
F,756.875,594.335,206.52,1367.8175,583.1675,301.5100,394.7270,14546
I,574.035,438.155,144.93,578.8885,256.3690,123.4775,172.0205,10589
M,857.805,671.230,231.31,1514.9500,661.5415,329.3520,430.8490,16358

In [23]:
# Let's just select a few columns...
#abalone[["Type", "LongestShell", "Rings"]]
# We can also flip the order...
abalone[["Rings","Type", "LongestShell"]]

      Rings Type  LongestShell
0        15    M         0.455
1         7    M         0.350
2         9    F         0.530
3        10    M         0.440
4         7    I         0.330
...     ...  ...           ...
4172     11    F         0.565
4173     10    M         0.590
4174      9    M         0.600
4175     10    F         0.625
4176     12    M         0.710

[4177 rows x 3 columns]

In [25]:
# Based on our results earlier, we can also sort by Rings...
abalone[["Type", "LongestShell", "Rings"]].sort_values('Rings', ascending = False) # Change to false if we want other direction.

     Type  LongestShell  Rings
480     F         0.700     29
2209    F         0.550     27
2108    M         0.665     27
294     M         0.600     26
2201    F         0.645     25
...   ...           ...    ...
3521    I         0.215      3
526     M         0.155      3
238     I         0.110      3
719     I         0.150      2
236     I         0.075      1

[4177 rows x 3 columns]

In [26]:
# Let's create a column...
abalone.head()

,Type,LongestShell,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [27]:
abalone["Rings_T_ShellWeight"] = abalone['Rings'] * abalone['ShellWeight']

In [28]:
abalone

,Type,LongestShell,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings,Rings_T_ShellWeight
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,2.250
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,0.490
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,1.890
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,1.550
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,0.385
...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,2.739
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,2.605
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,2.772
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,2.960
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,5.940

In [29]:
# Maybe you do not want any duplicates in your dataset. So Let's run the drop duplicates function
abalone.drop_duplicates # Nothing because there are no duplicate ROWS.

<bound method DataFrame.drop_duplicates of      Type  LongestShell  Diameter  Height  WholeWeight  ShuckedWeight  \
0       M         0.455     0.365   0.095       0.5140         0.2245
1       M         0.350     0.265   0.090       0.2255         0.0995
2       F         0.530     0.420   0.135       0.6770         0.2565
3       M         0.440     0.365   0.125       0.5160         0.2155
4       I         0.330     0.255   0.080       0.2050         0.0895
...   ...           ...       ...     ...          ...            ...
4172    F         0.565     0.450   0.165       0.8870         0.3700
4173    M         0.590     0.440   0.135       0.9660         0.4390
4174    M         0.600     0.475   0.205       1.1760         0.5255
4175    F         0.625     0.485   0.150       1.0945         0.5310
4176    M         0.710     0.555   0.195       1.9485         0.9455

      VisceraWeight  ShellWeight  Rings  Rings_T_ShellWeight
0            0.1010       0.1500     15                2.250
1            0.0485       0.0700      7                0.490
2            0.1415       0.2100      9                1.890
3            0.1140       0.1550     10                1.550
4            0.0395       0.0550      7                0.385
...             ...          ...    ...                  ...
4172         0.2390       0.2490     11                2.739
4173         0.2145       0.2605     10                2.605
4174         0.2875       0.3080      9                2.772
4175         0.2610       0.2960     10                2.960
4176         0.3765       0.4950     12                5.940

[4177 rows x 10 columns]>

In [30]:
# Creating dummy dataframe to illustrate
columns = ['A','B', 'C']
df_ = pd.DataFrame(index=range(1,10), columns=columns)
df_ = df_.fillna(0) # with 0s rather than NaNs
df_

   A  B  C
1  0  0  0
2  0  0  0
3  0  0  0
4  0  0  0
5  0  0  0
6  0  0  0
7  0  0  0
8  0  0  0
9  0  0  0

In [31]:
df_.drop_duplicates() # only maintain one row that represents the duplicated rows.

   A  B  C
1  0  0  0